ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #990000;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #ff3333;
    color:#ffe6e6;
}

.fixedElement {
    
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}

.btn-primary-login {
    background: #993333;
    border-color: #993333;
    float: right;
    display:inline-block;
    color:#FFFFFF;
}
.btn-primary-login:focus,
.btn-primary-login:hover {
    background: #ec4949;
    border-color: #ec4949;
}
